<div id="account-hero-fields" class="container-fluid">
  <%= render 'account_heroes/form_level_shards_row', f: f %>
  <%= render 'account_heroes/form_target_stars_row', f: f %>
  <%= render 'account_heroes/form_fodder_row', f: f %>
</div>

<script>
  $(document).ready(function () {
    $('#account_hero_level').on('input', function () {
      $('#account_hero_shards').val('');
      $('#target-stars-row').show();
    });
    $('#account_hero_shards').on('input', function () {
      $('#account_hero_level').val('');
      $('#target-stars-row').hide();
    });
  });
</script>
