<li class="fusion-group">
  <ol style="list-style-type: decimal;">
    <% fusion_group.each do |fusion_hero| %>
      <%= render partial: 'account_heroes/fusion_hero', object: fusion_hero %>
    <% end %>
  </ol>
</li>
