<tr>
  <td class="hero"><%= image_tag wish.asset_path, height: 60, width: 60, title: fmt_title(wish) %></td>
  <td>
    <%= render 'account_heroes/fusion_materials', target_hero: wish.hero %>
  </td>
</tr>
