<tr>
  <td class="hero"><%= image_tag "heroes/#{wish_list_hero.hero.image_file}", height: 60, width: 60, title: fmt_title(wish_list_hero.hero) %></td>
  <td>
    <%= render 'account_heroes/fusion_materials' %>
  </td>
</tr>
