<footer>
  <nav class="navbar navbar-default">
    <div class="container">
      <p class="navbar-text">Idle Herder app &copy; 2017 Brent J. Nordquist&nbsp;&nbsp;Some Rights Reserved.</p>
      <p class="navbar-text"><%= link_to 'Not affiliated with Idle Heroes', about_path(anchor: 'disclaimer') %></p>
    </div>
  </nav>
</footer>
