<div id="account-hero-fields" class="container-fluid">
  <%= render 'account_heroes/form/level_shards_row', f: f %>
  <%= render 'account_heroes/form/target_stars_row', f: f %>
  <%= render 'account_heroes/form/fodder_row', f: f %>
</div>

<script>
  $(document).ready(function () {
    $('#specific_account_hero_level').on('input', function () {
      $('#specific_account_hero_shards').val('');
      $('#target-stars-row').show();
    });
    $('#specific_account_hero_shards').on('input', function () {
      $('#specific_account_hero_level').val('');
      $('#target-stars-row').hide();
    });
    $('#specific_account_hero_is_fodder').on('input', function () {
      if ($(this).is(':checked')) {
        // change "Target stars" selector to its lowest value
        $('input[name=specific_account_hero\\[target_stars\\]]').prop('checked', false);
        $('label[id^=target-stars-]:visible').children('input[name=specific_account_hero\\[target_stars\\]]').first().prop('checked', true);
      }
    });
  });
</script>
