<div id="account-hero-fields" class="container-fluid">
  <%= render 'account_heroes/form/level_shards_row', f: f %>
  <%= render 'account_heroes/form/target_stars_row', f: f %>
  <%= render 'account_heroes/form/fodder_row', f: f %>
</div>
