<div id="account-hero-fields" class="container-fluid">
  <div class="hidden-fields">
    <%= f.hidden_field :level, value: 0 %>
    <%= f.hidden_field :shards, value: 0 %>
    <%= f.hidden_field :wish_list, value: 1 %>
  </div>
  <%= render 'account_heroes/form/target_stars_row', f: f %>
</div>
