<div class="page-header">
  <h1>Contact Us</h1>
</div>

<p>The Idle Herder app provides <b>automated self-help</b> for login and signup issues, such as <%= link_to 'resetting a forgotten password', new_user_password_path %>.</p>
<p>Want to <b>report bugs or suggest features</b>? Go to the <%= link_to 'Idle Herder GitHub Issues page', 'https://github.com/bjnord/idle_herder/issues' %>.</p>
<p>You can contact the app author by emailing info at example dot com.</p>
