<h1>Contact Us</h1>
<p>The Idle Herder app provides automated self-help for login and signup issues, such as <%= link_to 'resetting a forgotten password', new_user_password_path %>.</p>
<p>Want to report bugs or suggest features? Go to the <%= link_to 'Idle Herder GitHub Issues page', '' %>.</p>
<p>You can contact the app author by emailing info at example dot com.</p>
