<div class="page-header">
  <h1>About Idle Herder</h1>
</div>

<p>Idle Herder aims to help you manage your heroes and resources in <%= link_to 'Idle Heroes', 'https://www.facebook.com/Idleheroes/' %>. If you’re a new player trying to learn the hero fusion tree, or a more advanced player who wants to plan the materials needed to make better heroes, this app is for you!</p>
<p>Idle Herder complements the wealth of information found at the <%= link_to 'Idle Heroes Wiki', 'http://idleheroes.wikia.com/wiki/IdleHeroes_Wiki' %> by providing a way to <u>track your own</u> heroes, shards, and other resources, as well as tracking your <u>goals and priorities</u> and what materials you already have and still need to achieve them.</p>
<p>The idea for Idle Herder came from the <%= link_to 'PADherder app', 'https://www.padherder.com/' %> for <%= link_to 'Puzzle & Dragons', 'http://www.gunghoonline.com/games/puzzle-dragons/' %>. PAD is a fun game, if you haven’t tried it… and PADherder helps a lot!</p>

<h2>Disclaimer</h2>

<p>IdleHerder.com is a fan-created site and <span class="disclaimer-hilite">is not affiliated with Idle Heroes or its publisher, DHGAMES</span>, who holds the copyrights and trademarks for all game content.</p>
