<span>
  <%= link_to (defined?(show_stars) ? "#{hero.stars}★ #{fmt_name(hero)}" : fmt_name(hero)), hero %>
  <% if defined?(show_role) %>
    <span>(<%= hero.role %>)</span>
  <% end %>
  <% if hero.power %>
    &nbsp;&nbsp;<span>Power: <%= number_with_delimiter(hero.power) %></span>
  <% end %>
</span>
