<div class="panel panel-default">
  <div class="panel-heading">Heroes</div>
  <div class="panel-body">
    <div id="react-hfb"></div>
    <%= javascript_pack_tag('hero_filter_box') %>
  </div>
</div>
