body {
  padding-top: 50px + 20px;  // for navbar-fixed-top
}

footer {
  margin-top: 20px * 2;
}

.tooltip-qm {
  margin-left: 4px;
}

/* Bootstrap overrides */

.page-header {
  margin: 20px 0 !important;
}
