.hero-box {
  display: block;

  a.hero-link {
    color: inherit;
  }

  $hero-width: 200px;
  .hero-tile {
    background: #e0e0e0;
    display: inline-block;
    height: 80px;
    width: $hero-width;
    margin: 0 0 4px 4px;

    .image {
      float: left;
      margin: 10px;
      height: 60px;
    }
    .details {
      float: left;
      padding: 20px 0;

      .name, .role {
        width: $hero-width - 80px;
        overflow: hidden;
      }
      .role {
        font-size: 80%;
      }
    }
  }
}
