.hero-box {
  display: block;

  a.hero-link {
    color: inherit;
  }

  $hero-width: 200px;
  .hero-tile {
    background: #e0e0e0;
    display: inline-block;
    height: 80px;
    width: $hero-width;
    margin: 0 8px 4px 0;

    .hero-image {
      float: left;
      margin: 10px;
    }
    .details {
      float: left;
      padding: 20px 0;

      .name, .role {
        width: $hero-width - 80px;
        overflow: hidden;
      }
      .role {
        font-size: 80%;
      }
    }
  }
  .hero-stamp {
    display: inline-block;
    height: 62px;
    width: 62px;
    margin: 2px 3px;
    padding: 1px;

    &.selected {
      outline-style: dashed;
      outline-style: blue;
    }
  }
  .hero-image {
    height: 60px;
    width: 60px;
  }
}

#my-heroes-panel {
  position: relative;
}
#add-my-hero {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 15px;
}
#add-my-hero-panel {
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  form {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
