.hero-box {
  display: block;

  a.hero-link {
    color: inherit;
  }

  $hero-width: 200px;
  .hero-tile {
    background: #e0e0e0;
    display: inline-block;
    height: 80px;
    width: $hero-width;
    margin: 0 8px 4px 0;

    .hero-image {
      float: left;
      margin: 10px;
    }
    .details {
      float: left;
      padding: 20px 0;

      .name, .role {
        width: $hero-width - 80px;
        overflow: hidden;
      }
      .role {
        font-size: 80%;
      }
    }
  }
  .hero-stamp {
    display: inline-block;
    width: 62px;
    margin: 2px 3px;
    padding: 1px;

    &.selected {
      outline-style: dashed;
      outline-style: blue;
    }
    a {
      text-decoration: none;
    }
    .shards-count {
      background-color: #ddf1fd;
      margin: 4px 0 2px;
      height: 20px;
      width: 62px;
      text-align: center;

      &.maxed {
        background-color: #c1fcc1;
      }
    }
  }
  .hero-image {
    position: relative;
    height: 60px;
    width: 60px;

    .level {
      position: absolute;
      top: 3px;
      right: 4px;
      width: 20px;
      border-radius: 5px;
      background-color: black;
      color: white;
      font-size: 11px;
      text-align: center;
    }

    .puzzle-piece {
      position: absolute;
      top: 1px;
      right: 4px;
      width: 18px;
      height: 18px;
    }
  }
}

#my-heroes-panel {
  position: relative;
}
#add-hero {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 15px;
}
#add-hero-panel {
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  form {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.my-heroes-shards-subhead {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}

#form-fodder-row {
  margin-top: 4px;
}

.faction-selector {
  position: absolute;
  top: 5px;
  left: 120px;

  li.toggle {
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 25px;
    margin-right: 5px;
    border: 1px solid transparent;

    &.toggle-on {
      border: 1px dotted red;
    }
  }
}

.wish-list-table {
  width: 100%;
  table-layout: fixed;

  th.hero, td.hero {
    width: 10%;
  }
}

.hsb-component {
  height: 34px;
  vertical-align: middle;

  #hero-smart-bar {
    display: inline-block;
    width: 90%;
  }
  #smart-bar-help {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: -4px 0 0 4px;
  }
}

.edit-hero-image {
  position: absolute;
  top: 8px;
  left: 140px;
  height: 40px;
  width: 40px;
}
