body {
  padding-top: 50px + 20px;  // for navbar-fixed-top
}
#ih-body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 20px * 2;
}

.tooltip-qm {
  margin-left: 4px;
}

/* Bootstrap overrides/additions */

.page-header {
  margin: 20px 0 !important;
}

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

input[type=checkbox].form-control {
  margin-top: 0;
}

.popover {
  i {
    font-style: italic;
  }
  ul {
    list-style: disc;
    li {
      margin-left: 6px;
    }
  }
}

.form-instructions {
  margin: 12px 0 0;
}
form > .fields {  // don't apply this to modal-body > .fields
  padding-bottom: 8px;
}
