<div class="panel panel-default">
  <div class="panel-heading">My Heroes</div>
  <div class="panel-body">
    <div id="react-mhb"></div>
    <%= javascript_pack_tag('my_heroes_box') %>
  </div>
</div>
