<% title 'My Heroes' %>

<div class="panel-group">
  <div id="add-hero-panel" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
      <h4 class="panel-title">Add Hero</h4>
    </div>
    <div class="panel-body">
      <%= render 'account_heroes/form', subform: 'account_heroes/form/hero_fields' %>
    </div>
  </div>
  <div id="my-heroes-panel" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">My Heroes</h4>
      <%= button_to 'ADD', '#', class: 'btn btn-primary btn-sm', id: 'add-hero' %>
    </div>
    <div class="panel-body">
      <div id="react-mhb"></div>
      <%= javascript_pack_tag('my_heroes_box') %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var visible = localStorageGetItem('add_hero_panel');
    if (visible == 1) {
      $('#add-hero-panel').show();
    }
    $('#add-hero').click(function (event) {
      event.stopPropagation();
      var nowVisible = $('#add-hero-panel').toggle().is(':visible') ? 1 : 0;
      localStorageSetItem('add_hero_panel', nowVisible);
      if (nowVisible) {
        $('#hero-smart-bar').focus();
      }
      return false;
    });
  });
</script>
